# Investment Risk and Returns

In [1]:
# import packages

import pandas as pd
import numpy as np

In [6]:
#import datasets

amazon = pd.read_csv('dataset/AMAZON_HistoricalData.csv', parse_dates=['Date'])
apple = pd.read_csv('dataset/APPLE_HistoricalData.csv', parse_dates=['Date'])
baba = pd.read_csv('dataset/BABA_HistoricalData.csv', parse_dates=['Date'])
tesla = pd.read_csv('dataset/TESLA_HistoricalData.csv', parse_dates=['Date'])
tqqq = pd.read_csv('dataset/TQQQ_HistoricalData.csv', parse_dates=['Date'])

In [5]:
amazon.head()

        Date Close/Last   Volume      Open       High        Low
0 2022-01-26   $2777.45  4780085     $2895  $2903.695   $2746.37
1 2022-01-25   $2799.72  4541233  $2844.85      $2872    $2762.9
2 2022-01-24   $2890.88  7802237     $2780    $2898.9   $2707.04
3 2022-01-21   $2852.86  8198572     $2999      $3018  $2841.408
4 2022-01-20   $3033.35  3598666  $3135.32      $3160   $3027.02